*
{
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-stretch: expanded;
  word-spacing: 5px;
  letter-spacing: 1px;
}
table, th, td {
  font-size: large;
    border:1px solid black;
    border-collapse:separate;
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: bisque;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
  }

 
 .total:hover
 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  background-color: rgb(136, 136, 168);
  color: rgb(15, 1, 1);
}
