table, th, td {
  font-size: large;
    border:1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

 tbody > tr:hover
 {
  color: rgb(111, 107, 107);
  background-color: rgb(136, 136, 168);
 }
 thead
 {
  text-align: center;
 }